body {
    background-color: white;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 30 px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  
  body div h2 {
    padding: 30px;
  }

  @font-face {
    font-family: proxima;
    src: url("../fonts/proximabold.otf");
  }

  top-header {
    font-family: proxima;
    font-size: 20px;
    width: 300px;
    height: 60px;
  }
  
  .scroll-content {
    padding: 30px;
  }
  .container-overflow {
    width: 100%;
    height: 100%;
  }